<form class="login-form" [formGroup]="form" (ngSubmit)="submit()">
  <span *ngIf="errorRes">
      {{errorRes}}
  </span>
  <div class="container">
    <div class="login-box">
      <h3 class="creat">Creat Accaunt</h3>
      <p class="text">Email:</p>
      <input class="login_in" type="text" formControlName="email">
      <!--    form.get('username').invalid || -->
      <span class="field-error" *ngIf="form.get('email').touched ">
      Please enter a valid Email address
      </span>
      <p class="text">Username:</p>
      <input class="login_in" type="text" formControlName="username">
      <!--    form.get('username').invalid || -->
      <span class="field-error" *ngIf="form.get('username').touched ">
      Please enter a valid username
      </span>
      <p class="text-p">Password:</p>
      <input class="password_in" type="password" formControlName="password">
      <span *ngIf="form.get('password').touched">
      Please enter password
      </span>
      <br>
      <button class="submit" type="submit" [disabled]="form.invalid"> Sing in </button>
    </div>
  </div>
</form>
