<!doctype html>
<html lang="ru">
  <head>
    <base href="/">
    <!-- Обязательные метатеги -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>bagit 4 life</title>

  </head>
  <body>
  <div class="menu">
    <div class="nav">
      <button class="btn"><a class="nav-t" href="posts">Posts</a></button>
      <button class="btn"><a class="nav-t" href="posts_create">Posts create</a></button>
      <button class="btn"><a class="nav-t" href="/">Chat</a></button>
      <button class="btn"><a class="nav-t" href="login">Login</a></button>
      <button class="btn-s"><a class="nav-t-s" href="sing_in">Sing in</a></button>
    </div>
  </div>

  <!------------------------------------------------------------

  <div class="intro">
    <div class="containet">
      <div class="intro__icon">
        <div class="intro__c">
          <img class="intro_logo" src="./assets/img-intro.png">
        </div>
      </div>
      <div class="intro__item">
        <div class="intro__title">mobilis in mobile
        </div>
      </div>
      </div>
  </div>

  --------------------------------------------------------------->

  <div class="posts">
    <div class="post-container">
      <app-root>loading...</app-root>
    </div>
  </div>
  </body>
</html>



