.box{
  width: 100%;
  border-radius: 15px;
  background: white;
  margin-bottom: 10px;
  margin-top: 10px;
}

.container{
  width: 1100px;
}

.title{
  text-transform: uppercase;
  margin-top: 10px;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  color: #333333;
}



.img{
  border-radius: 15px;
  width: 100%;
  background: url("../../../assets/img-foto.png")center no-repeat;
}

.text{
  width: 1000px;

  text-align: center;
  margin-left: 50px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
  color: gold;
}

.data{
  font-size: 20px;
  color: black;
  text-align: right;
  margin-right: 10px;
  margin-top: 70px;
  margin-bottom: 10px;
}

.comment_input{
  width: 100%;

  border-right: 0;
  border-left: 0;
  border: 1px solid gray;

}
